<div id="side-cart"
     data-controller="cart"
     data-cart-target="sideCart"
     class="fixed top-0 right-0 h-full w-80 bg-white shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-50">
  <button data-action="cart#close" class="absolute top-0 left-0 m-4 text-gray-600 hover:text-gray-800">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <div data-cart-target="cartContent" class="p-4 mt-12 overflow-y-auto h-full">
    <!-- Cart contents will be dynamically inserted here -->
  </div>
</div>
