<div class="flex flex-col lg:flex-row justify-between items-center px-4 lg:px-20 mt-16">
  <div class="w-full lg:w-1/2 text-center mb-8 lg:mb-0">
    <h1 class="afacad text-black text-3xl mb-4">
      But First, a Coffee!
    </h1>
<div class="afacad text-xl text-center max-w-3xl mx-auto space-y-4">
  <p>
    We believe every great day starts with a perfect cup of coffee.
  </p>
  <p>
    Whether you crave a bold espresso or a refreshing iced latte, our selection is crafted
    to awaken your senses. Explore our offerings, find your favorite blend, and savor the rich aromas.
  </p>
  <p class="font-bold">
    Remember, life is too short for mediocre coffee. Let's make every sip count!
  </p>
  <div class="mt-8 flex justify-center">
    <%= link_to "Explore Our Collection", products_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-xl text-white bg-black hover:bg-white hover:text-black hover:border-black" %>
  </div>
</div>
  </div>
  <div class="w-full lg:w-1/2 flex justify-center">
    <%= image_tag asset_path('dash4.jpg'), class: 'max-w-full lg:max-w-[50%] h-auto' %>
  </div>
</div>
