<div class='bg-[#E0F2F1]'>
  <div class="container mx-auto py-12 afacad">
      <h2 class="text-3xl font-bold text-center mb-8">What else?</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="text-center">
        <div class="mb-4">
          <i class="fa-solid fa-mug-hot text-4xl text-brown-600"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2">Exclusive roast & ground coffee</h3>
        <p class="text-gray-600">Discover our wide range of quality coffee exclusive to Daily Grind, sealed for freshness.</p>
      </div>

      <div class="text-center">
        <div class="mb-4">
          <i class="fa-solid fa-recycle text-4xl text-brown-600"></i>
        </div>
          <h3 class="text-xl font-semibold mb-2">Packaging recycling</h3>
          <p class="text-gray-600">All Daily Grind packaging is made from recyclable materials, ensuring a sustainable choice.</p>
      </div>

    <div class="text-center">
        <div class="mb-4">
          <i class="fas fa-leaf text-4xl text-brown-600"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2">Freshly Roasted</h3>
        <p class="text-gray-600">Our coffee is roasted in small batches to ensure peak flavor and freshness in every cup.</p>
      </div>

      <div class="text-center">
        <div class="mb-4">
          <i class="fas fa-handshake text-4xl text-brown-600"></i>
        </div>
        <h3 class="text-xl font-semibold mb-2">Ethically Sourced</h3>
        <p class="text-gray-600">We partner with farmers who are committed to sustainable and ethical coffee production.</p>
      </div>
    </div>
  </div>
</div>
