.afacad {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 100;
  font-style: thin;
}

.afacad-bold {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 600;
  font-style: thin;
}



.desktop-navbar {
  display: block;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }
}

@media (min-width: 769px) {
  #mobile-menu {
    display: none;
  }

  .mobile-menu {
    display: none; 
  }

  .index-prod {
    margin-top: 60px
  }
}
